<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="text-center">
        <h2><b>SignUp Form</b></h2>
      </div>
      <br>
      <form>
        <div class="form-group">
          <label>First Name</label><br>
          <input type="text" formControlName="fname" placeholder="First Name" class="form-control">
        </div>
        <div class="form-group">
          <label>Last Name</label><br>
          <input type="text"  placeholder="Last Name" class="form-control">
        </div>

        <div class="form-group">
          <label>Date of Birth:</label>
          <input type="date" name="dob" class="form-control">
        </div>
        <div class="form-group">
          <label>Email</label><br>
          <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <label>Password</label><br>
          <input type="Password"  placeholder="Password" class="form-control">
        </div>

        <div class="form-group">
          <label>Mobile Number</label>
          <input type="Number" formControlName="mobile" placeholder="Mobile Number" class="form-control">
        </div>
        <div class="form-group">
            <label>Gender</label><br>
            <span>Male</span>&nbsp;<input type="radio" name="gender">&nbsp;
            <span>Female</span>&nbsp;<input type="radio" name="gender">
        </div>

        
        
        <div class="form-group">
          <label>Department</label>
          <select class="form-control" >
            <option>Department-1</option>
            <option>Department-2</option>
            <option>Department-3</option>
            <option>Department-4</option>
            <option>Department-5</option>
          </select>
        </div>
       
        <div class="form-group">
          <label>Comment</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label>Subject</label><br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" value="option1">
              <label class="form-check-label">Science</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" value="option2">
              <label class="form-check-label">Maths</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" value="option3">
              <label class="form-check-label">commerce</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" value="option4">
              <label class="form-check-label">English</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" value="option5">
              <label class="form-check-label">Hindi</label>
            </div>
          </div>

        <div class="form-group">
          <label> Select File</label>
          <input type="file" class="form-control-file">
        </div>

        <div class="float-right">
          <button type="submit" class="btn btn-primary" value="Post Data">Submit</button>
        </div>
        <div class="float-left">
          <button type="button" class="btn btn-info">Reset</button>
        </div>
      </form>
    </div>
  </div>

</div>